USARoadTrip.Silverlight/Service References/WCFServices/RoadTripServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://localhost:1601" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoadTripServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://localhost:1601" location="http://localhost:1601/RoadTrip/RoadTripServices.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1601/RoadTrip/RoadTripServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1601/RoadTrip/RoadTripServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1601/RoadTrip/RoadTripServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USARoadTrip.Api.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoadTripServices_CreateTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrip" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_CreateTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTripResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_DeleteTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrip" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_DeleteTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTripResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_UpdateTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrip" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_UpdateTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTripResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_GetTripDestinations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripDestinations" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_GetTripDestinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripDestinationsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_GetUserTrips_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTrips" />
  </wsdl:message>
  <wsdl:message name="IRoadTripServices_GetUserTrips_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTripsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoadTripServices">
    <wsdl:operation name="CreateTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/CreateTrip" message="tns:IRoadTripServices_CreateTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/CreateTripResponse" message="tns:IRoadTripServices_CreateTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/DeleteTrip" message="tns:IRoadTripServices_DeleteTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/DeleteTripResponse" message="tns:IRoadTripServices_DeleteTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/UpdateTrip" message="tns:IRoadTripServices_UpdateTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/UpdateTripResponse" message="tns:IRoadTripServices_UpdateTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripDestinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/GetTripDestinations" message="tns:IRoadTripServices_GetTripDestinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/GetTripDestinationsResponse" message="tns:IRoadTripServices_GetTripDestinations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/Register" message="tns:IRoadTripServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/RegisterResponse" message="tns:IRoadTripServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/Login" message="tns:IRoadTripServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/LoginResponse" message="tns:IRoadTripServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTrips">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadTripServices/GetUserTrips" message="tns:IRoadTripServices_GetUserTrips_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadTripServices/GetUserTripsResponse" message="tns:IRoadTripServices_GetUserTrips_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RoadTripServices">
    <wsdl:port name="BasicHttpBinding_IRoadTripServices" binding="i0:BasicHttpBinding_IRoadTripServices">
      <soap:address location="http://localhost:1601/RoadTrip/RoadTripServices.svc/RoadTripServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>